* {margin: 0; padding: 0; box-sizing: border-box;}

.menu{
    background-color: dimgray;
    height: 100%;
    margin: 0;
}

.opcoes{
    min-height: 700px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-h2{
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;  
        width: 150px;
}

.linknoite{
    display: 'inline-block';
    text-decoration: none;
    color: inherit;
    font-size: '1.5em';
    margin: '0';
    
}

body, html {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.office1 {
    height: 100vh; /* 100% da altura da viewport */
    width: 300vh;
    background-image: url('/src/assets/fnafoffice1.jpg'); 
    background-size: cover; /* Ajusta o tamanho para cobrir todo o container */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    color: #fff; /* Cor do texto para melhor legibilidade */
}

.ladoesq{
    opacity: 0%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px; /* Ajuste a largura conforme necessário */
    color: #fff; /* Cor do texto do botão */
    border: none;
    padding: 10px; /* Ajuste o preenchimento conforme necessário */
    cursor: pointer;
}

.ladodir{
    opacity: 0%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px; /* Ajuste a largura conforme necessário */
    color: #fff; /* Cor do texto do botão */
    border: none;
    padding: 10px; /* Ajuste o preenchimento conforme necessário */
    cursor: pointer;
}

.btnportae{
    height: 70px;
    width: 70px;
    border: none;
    margin-left: 5vh;
    margin-top: 50vh;
    cursor: pointer;
}

.btnportad{
    height: 70px;
    width: 70px;
    border: none;
    margin-left: 170vh;
    margin-top: 50vh;
    margin-right: 5vh;
    cursor: pointer;
}

.portae{
    margin-top: 5vh;
    width: 200px;
    height: 700px;
    background-color:gray;
}

.portad{
    margin-top: 5vh;
    width: 200px;
    height: 700px;
    background-color:gray;
}

.portabtn{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 18vh;
}

.bateria{
    margin-left: 10vh;
    margin-top: 80vh;
    position: fixed;
    font-size: 30px;
}

.usando{
    margin-left: 10vh;
    margin-top: 75vh;
    position: fixed;
    font-size: 30px;
}